*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* selector de clase */

.encabezado{
    text-align: center;
    background-color: #5BC0BE;
    
}

.barranavegacion{
    background-color: #3A506B;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.barranavegacion a{
    font-size: 200%;
    color: white;
}

.barranavegacion a:hover{
    background-color: aqua;
    color: black;
}

.sec{
    background-color: #1C2541;
    
}

.pienavegacion{
    background-color: #3A506B;
    font-size: larger;
    text-align: center;
    color: white;
}

.texto{
 font-size: 200%;
 text-align: justify;
 color: white;
 margin: 20px 20px;
}

.titulo{
    padding-top: 0.5em;
    color: white;
    margin: 20px 20px;
    text-align: justify;
}

.tituloP{
    padding-top: 0.5em;
    color: white;
    margin: 20px 20px;
    text-align: center;
    font-size: 300%;
}

.productonom{
    font-size: 3em;
    color: white;
    margin-left: 2em;
}

.articulo{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /*display: flex;
    flex-direction: row;*/
    margin: 0 0;
    background-color: rgb(0, 73, 116);
}

.division{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.labelA{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.reseña{
    font-size: 1.5em;
    color: white;
    margin-left: 1em;
    margin-left: 1em;
    text-align: justify;
}

.precio{
    font-size: 2.5em;
    color: white;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento{
    padding-top: 2em;
}

.label{
    font-size: 150%;
    text-align: center;
    color: white;
    margin: auto auto;
}

.sec section{
    padding-bottom: 1.5em;
}

/* selector de etiquetas */

ul{
    text-align: center;
}

li{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    padding: 15px;
}

.imgprod{
    height: 320px;
    width: 200px;
    border: 1px;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.imgmain{
    display: flex;
    justify-content: center;
}

.imgmain img{
    height: 375px;
    width: 500px;
}

.articulo picture {
    display: flex;
    justify-content: center;
}

#formulario {
    background-color: rgb(0, 73, 116);
    width: min( 30em, 100% );
    margin: 1em auto;
}


.field {
    margin: 1em 2em 0 2em;
}

.field textarea{
    width: 100%;
    height: 10em;
    resize: vertical;  
}

.input {
    height: 2em;
    width: 100%;
    font-size: 1em;
}

.inputA {
    height: 2em;
    width: 75%;
    font-size: 1em;
}

.field label {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

#boton {
    background-color: rgb(6, 218, 255);
    border: none;
    font-size: 2em;
    color: black;
    border-radius: .2em;
    padding: 0.25em;
    margin: 1em 0 2em 2em;
}

.boton {
    background-color: rgb(6, 218, 255);
    border: none;
    font-size: 2em;
    color: black;
    border-radius: .2em;
    padding: 0.25em;
    margin: 0.5em 0 1em 1em;
}

#contenedor-botones {
    text-align: center;
    margin-right: 3em;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: rgb(6, 218, 255);
    margin: 0.5em 0 1em 1em;
    padding: 0.25em;
}

@media screen and (max-width: 768px){
    .barranavegacion, .sec, .row{
        flex-direction: column;
    }
}

@media (min-width: 768px){
    .barranavegacion {
    flex-direction: row;
    justify-content: space-evenly;
    }
}

@media (min-width: 768px) {
    .imgmain img{
        height: 562.5px;
        width: 750px;
    }
}

@media (min-width: 768px) {
    .division{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 555px) {
    .division{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}